{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container">
    <h2>Welcome, {{ current_user.username }}</h2>

    <div class="dashboard-grid">
        <div class="card">
            <h3>Health Events Calendar</h3>
            <div class="calendar" id="unified-calendar"></div>
        </div>
    </div>
</div>

<div id="dailyLogsModal" class="modal">
    <div class="modal-content">
        <h3>Logs for <span id="selectedDate"></span></h3>
        <div id="dailyLogs">
            <div id="medicationLogs"></div>
            <div id="seizureLogs"></div>
            <div id="triggerLogs"></div>
        </div>
        <button type="button" class="btn-secondary" onclick="closeModal()">Close</button>
    </div>
</div>
{% endblock %}